:root {
    --primary-bg: #390303;
    --primary-text: #ffffff;
    --standard-gap: 40px;
}

body {
    font-family: fantasy;
    background: var(--primary-bg);
    color: var(--primary-text);
}

#projects article{
    background: black;
    margin: var(--standard-gap);
}

nav {
     background: red;
}


